@charset "UTF-8";
        html{
            background:url("/images/한라산2.jpg");
            position: relative;
            background-size: cover;
            background-attachment: fixed;  
        }

        #title {
            font-family: 'Domine', serif;
            text-align: center;
            font-style: italic;
            margin-top: 100px;
            font-size: 60px;
            color: blanchedalmond;
            text-shadow: 2px 4px 2px gray;                                                                      
        }

        .button {
            text-align : right;
            margin: -200px 20px 20px 20px;
        }
        
        #button-join, #button-login, #button-logout {
            font-family: 'Domine', serif;
            background-color:#EBFBFF;
            border:none;
            border-radius:10px;
            box-shadow: 0px 0px 2px 2px #EBFBFF;
            padding: 10px;
            min-width: 30px;
            min-height: 30px;
            color: #AECDFF;
        }
 
        .nav {
            text-align: center;
            margin: 120px 20px 100px 20px;
        }

        #nav01, #nav02, #nav03, #nav04, #nav05 {
            font-family: 'Domine', serif;
            background: transparent;
            border: none;
            border-radius: 10px;
            padding: 15px 100px;
            font-size: 35px;
            color: #AECDFF;

            text-shadow: 2px 3px 2px #6E9FED;
        }
        
        .search {
            float: right;
            color: #AECDFF;
            text-align: center;
            position: relative;
            width: 150px;
            margin: -55px 170px auto auto;
        }

        input {
            font-family: 'Domine', serif;
            background-color: #EBFBFF;
            text-align: center;
            width: 100%;
            border: none;
            border-radius:10px;

            box-shadow: 0px 0px 2px 2px #EBFBFF;
            padding: 10px 12px;
            font-size: 14px;
        }

        .search img {
            position : absolute;
            width: 17px;
            top: 10px;
            right: 12px;
            margin: 0;
        }

        .widget {
            /* display: block; */
            margin: -50px 30px 20px 20px;
            width: 750px;
            margin-left: 95px;

            border-radius: 10px;
            background-color: rgba(255,255,192,0.1);
            backdrop-filter: blur(10px);
            box-shadow: 2px 7px 15px 8px rgba(194, 190, 190, 0.3);
        }
        
        .weather iframe,
        .right-weather iframe,
        .left-weather iframe {
            display: block;
            border: 0;
            width: 750px;
            height: 220px;
        }

        .matching {
            float: right;
            height: 220px;
            width: 900px;

            margin: -240px 95px 20px 20px;

            border-radius: 10px;
            background-color: rgba(255,255,192,0.1);
            backdrop-filter: blur(10px);
            box-shadow: 2px 7px 15px 8px rgba(194, 190, 190, 0.3);
        }

        #word01 {
            font-family: 'Domine', serif;
            text-align: center;
            font-style: italic;
            font-size: 25px;
            padding-top: -10px;
            color: blanchedalmond;

            text-shadow: 2px 4px 2px gray;
        }

        .best-places, .best-review {
            text-align: center;
            margin: auto;
            width: 1700px;
            height: 450px;
            margin-top: -40px;
            
            border-radius: 10px;
            background-color: rgba(255,255,192,0.1);
            backdrop-filter: blur(10px);
            box-shadow: 2px 7px 15px 8px rgba(194, 190, 190, 0.3);
        }

        #recommended, #review {
            font-family: 'Domine', serif;
            text-align: center;
            font-style: italic;
            font-size: 35px;
            padding-top: 20px;
            color: blanchedalmond;

            text-shadow: 2px 4px 2px gray;
        }

        .image01 img, .image02 img {
            position: relative;
            margin: 10px auto auto 20px;
            text-align: center;

            width: 500px;
            height: 300px;
        }

        footer {
            text-align: center;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
