@charset "UTF-8";

	body {
		position: relative;
		margin: auto 100px auto 100px;
		font-size: 120%;
	}
	
	table {
	     border-collapse: collapse;
	     width: 100%;
	     border: 0;
	     text-align: center;
	}
	
 	th, td {
	     padding: 10px;
	     border-style: none;
	     border-bottom: 1px solid #00A5FF;
	}
	
	#box1:hover {
		background-color: #B9E2FA;
	}
	
/* 	#box2 {
		text-decoration-line: none;
		text-decoration:none !important;
	} */
	
/* 	a:link {
		color: red;
		text-decoration: none;
	}
	
	a:visited {
		color: black;
		text-decoration: none;
	}
	
	a:hover {
		color: black;
		text-decoration: none;
	} */
	
	#notice {
		float: right;
		margin-top: 20px;
	}