@charset "UTF-8";

        body {
            font-size: 110%;
        }

        .main {
            margin-left: 5%;
            margin-right: 5%;
        }

        h1 {
            text-align: center;
            padding: 20px;
        }
        
        table {
            border: 1px #a39485 solid;
            font-size: .9em;
            box-shadow: 0 2px 5px rgba(0,0,0,.25);
            width: 100%;
            border-collapse: collapse;
            border-radius: 5px;
            overflow: hidden;
        }

        table caption {
            padding: .5em 0;
        }
        #tr1 {
            border-spacing: 15%;
        }

        #tr2 {
            text-align: center;
        }
        
        p {
            font-size: .7em;
        }
        
        #staryPage {
        	color: lightblue;
        }
        
        a {
        	text-decoration : none;
			color: #373737;
        	
        }
        
        #bt1 {
            border: 1px #a39485 solid;
            box-shadow: 0 2px 5px rgba(0,0,0,.25);
            border-collapse: collapse;
            border-radius: 5px;
            overflow: hidden;
            color: #3b3b3b;
            width: 10%;
            font-size: .7em;
            float: right;
        }
        
        button:hover {
        	background-color: #ffffff;
			border-color: #59b1eb;
			color: #59b1eb;
        }
       