<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link th:href="@{/css/notice.css}" type="text/css" rel="stylesheet" />
</head>
<body>
	<div th:replace="common/header.html"></div>
	<br/><br/><br/><br/><br/><br/>
	<div>
		<table align="center" border="1">	
	 		<tr>
				<th>제목</th>
				<td th:text="${ notice.noticeTitle }"></td>
				<th>글 번호</th>
				<td th:text="${ notice.noticeNo }"></td>
			</tr>
 				<th>작성자</th>
				<td th:text="${ notice.noticeAdmin }"></td>
				<th>조회수</th>
				<td th:text="${ notice.noticeViews }"></td>
<!-- 				<th>작성일</th>
				<td th:text="${ notice.noticeDate }"></td> -->
		</table>
	</div>
		<tr>
			<p style="white-space: pre-line;" th:text="${ notice.noticeInsert }" id="insert02"></p>
		</tr>

	
	<div>
			<th:block sec:authorize="hasRole('관리자')">
	    <form th:action="@{'/notice/notice/' + ${notice.noticeNo}}" method="post" id="noticedelete">
	        <input type="hidden" name="_method" value="delete" />
	        <button onclick="alert('공지사항이 삭제되었습니다.')">삭제</button>
	    </form>
			</th:block>
	</div>

	<div th:replace="common/footer.html"></div>
</body>
</html>